html, body {
    height: 100%;
    display: flex;
}

html {
    background: linear-gradient(135deg, rgba(255,255,255,1) 5%, rgba(192,202,214,1) 51%, rgba(157,154,169,1) 100%);

}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat {
    position: relative;
    left: 20px;
    width: 300px;
    height: 650px;
    background-color: darkgrey;
    border: 2px solid gray;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 15px;


}

.chatchat {
    position: relative;
    width: 280px;
    height: 40px;
    left: 8px;
    margin-top: 10px;
    background-color: rgb(92, 92, 92);
    border: 4px solid rgb(80, 80, 80);
    z-index: 2;
}

.chatchat h2 {
    position: relative;
    left: 5px;
    margin-top: 10px;
}

.reihe {
    position: relative;
    text-align: center;
}
.is4 {
    position: relative;
    left: 75px;
}
.is8 {
    position: relative;
    left: 75px;
}
.is12 {
    position: relative;
    left: 75px;
}
.is16 {
    position: relative;
    left: 75px;
}
.is20 {
    position: relative;
    left: 75px;
}
.is24 {
    position: relative;
    left: 75px;
}
.is28 {
    position: relative;
    left: 75px;
}
.is32 {
    position: relative;
    left: 75px;
}

.karte {
    width: 100px;
    height: 100px;
    background-image: url(/Aufgabe_5/images/Karte_bg.png);
    margin-top: 50px;
    margin-inline-start: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.karte:hover {
    box-shadow: inset 0px 0px 0px 3px pink;
}

.set2 {
    position:relative;
    left: 555px;
    top: -614px;
}

.is-hidden {
    display: none;
}
.challenge {
    position: absolute;
    left: 400px;
    top: 110px;
}
.bg_challenge {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: blue;
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
}
.auswahl-intro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

.cBttn button {
    width: 200px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
#leicht {
    background-color: pink;
}
#leicht:hover {
    transform: scale(1.05);
}

#mittel {
    background-color: rgb(255, 118, 141);
}
#mittel:hover {
    transform: scale(1.05);
}

#schwierig {
    background-color: rgb(255, 0, 43);
}
#schwierig:hover {
    transform: scale(1.05);
}