html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-color: darkgreen;
}

.container {
    position: relative;
    width: 650px;
    height: 650px;
}

.container div{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 5px;
}

#pad1, #pad2, #pad3, #pad4, #pad5, #pad6, #pad7, #pad8, #pad9{
    background-image: url(../../Aufgabe_08/images/block.png);
    /*https://www.supermariobrosx.org/forums/download/file.php?avatar=8701_1465288535.gif */
    cursor: pointer;
    opacity: 70%;
}

#pad1:hover, #pad2:hover, #pad3:hover, #pad4:hover, #pad5:hover, #pad6:hover, #pad7:hover, #pad8:hover, #pad9:hover{
    background-image: url(../../Aufgabe_08/images/blockMoving.gif);
    opacity: 100%;
}

#myPlayBtn{
    color: rgb(177, 16, 16, .7);
    position: relative;
    left: 225px;
    font-size: 100px;
}

#myPlayBtn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 6px orange; 
    transition: 0.25s;
}

#myStopBtn{
    color: rgb(177, 16, 16, .7);
    position: relative;
    left: 225px;
    font-size: 100px;
}

#myStopBtn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 6px orange; 
    transition: 0.25s;
}
/* das wird dann den Play-Button/ Stop-Button "verschwinden" lassen */
.is-hidden{
    display: none !important /* !important wegen Kaskadierung; somit steht diese Regel über allem und wird ausgeführt*/
}

#myRecBtn{
    color: rgb(177, 16, 16, .7);
    position: relative;
    left: 250px;
    font-size: 100px;
}

#myRecBtn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 6px orange; 
    transition: 0.25s;
}

#myTrashBtn{
    color: rgb(177, 16, 16, .7);
    position: relative;
    left: 275px;
    font-size: 100px;
}

#myTrashBtn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 6px orange; 
    transition: 0.25s;
}