 
 body{
    background-image: url("pics/bg.png");
    color: white;
    font-family: sans-serif;
    font-size: small;
    height: 100%;
 }
 .wrapper{
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;
}
.schrift{
    position: absolute;
    top: 17%;
    left: 35%;
    width: 400px;
}
.zeug {
    position: absolute;
    width: 500px;
    height: auto;
}
 .stern_hohl{
     position: absolute;
     left: 90px;
     top: 85px;
 }
 .stern_hover{
    position: absolute;
    left: 90px;
    top: 85px;
}